{# ********************* #}
{# ***** HOME VIEW ***** #}
{# ********************* #}


{% extends 'layout.twig' %}

{% block title %}Welcome to the microCMS Pjs{% endblock %}

{% block description %}Pjs : Pam, Jim & Sam - CMS, Php, JavaScript, Css{% endblock %}


{% block main %}

<main class="container center">

  <figure>
    <img src="img/blog/pjs.png" alt="Pjs, the elephant">
    <figcaption>Pjs, a microCMS for coding in pyjamas !</figcaption>
  </figure>

  <p>You will find a lot of features to construct a website :
    <ul>
      <li>Php classes provided by Pam, the Php Appoachable Microframework</li>
      <li>JavaScript functions provided by Jim, the Javascript Interactive Microlibrary</li>
      <li>Css classes provided by Sam, the Scss Animated Microframework</li>
      <li>Filters & classes in the views by Twig, the Symfony Template Engine</li>
      <li>And others tools provided by Pjs, the microCMS</li>
    </ul>
  </p>

  <p>Pjs is a study project, but don't hesitate to send issues or pull requests, I will watch them with interest...</p>

  <p>Enjoy !!</p>

</main>

{% endblock %}
