{# ********************* #}
{# ***** HOME VIEW ***** #}
{# ********************* #}


{% extends 'layout.twig' %}

{% block title %}PJS, a microCMS for coding in PyJamaS{% endblock %}

{% block description %}PJS : Pam, Jim & Sam - CMS, Php, JavaScript, Css{% endblock %}


{% block main %}

<main>



</main>

{% endblock %}
